<ion-header>
  <ion-toolbar>
    <ion-title>listoperations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="carlist">
    <div class="xc">
      <div class="card_cat_product">
      <img [src] ="logo" />
      <span [innerText]="name_marque" class="carname_model"></span><span class="carname_model" [innerText]="whitespace"></span>  <span class="carname_model" [innerText]="name_model"></span>  
     
      </div>
    </div>
    <ion-button (click)="Getoperationhistory()" class="btn_compteur">RAPPORT <br/> TOTALE</ion-button>
  </div>
  


  <ion-segment class="block_segment" [scrollable]="true" >
    <ion-segment-button checked (click)="segmentButtonClicked($event)" value="all">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="segmentButtonClicked($event)" value="entretien">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label>entretien</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="segmentButtonClicked($event)" value="carburant">
      <ion-icon name="battery-charging-outline"></ion-icon>
      <ion-label>carburant</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="segmentButtonClicked($event)" value="tax">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>tax</ion-label>
    </ion-segment-button>

  </ion-segment>


  <div *ngIf="listoperationlenght">
    <div *ngFor="let item of listoperationall" class="container item-profile">
      <div (click)="renderOperation(item.ID)" class="row title">
        <span class="row title1style"><b>{{item.operation_name}}</b></span>
        <span class="row title2style"><b>{{item.typename}}</b></span>
      </div>
      <div class="row content">
      <div class="row justify-content-md-center">
        <div class="col col-lg-2">
          <span>{{item.date_crea}}</span>
        </div>
        <div class="col col-lg-2">
          <span>{{item.compteur}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span style="color:red;">{{item.datexp}}</span>
        </div>
        <div class="col col-lg-2">
          <span>{{item.kmexp}}</span>
        </div>
      </div>
    </div>
    </div>
  </div>
</ion-content>
