
.item-profile{
    width: 100%;
    display: table;
    margin: 0 auto;
    /* border: solid 1px #a9a3a3; */
    /* border-radius: 20px; */
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile{
    width: 90%;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile {
    --border-radius: 21px;
    
}
.label{
    width: 90%;
    display: table;
    margin: 0 auto;
    /* border: solid 1px #a9a3a3; */
    /* border-radius: 20px; */
    margin-top: 15px;
    font-size: 16px;
    color: #a9a3a3;

}
.centre{
    display: table;
    margin: auto;
}

.segment-button-checked{
    background: #1a3677 !important;
    --ion-color-base: #1a3677 !important;
    --background: #1a3677 !important;
}
.block_segment{
     
    background: transparent ;
}
.block_segment ion-segment-button ion-icon {
 color: #fff;
}
.block_segment ion-segment-button ion-label {
    color: #fff;
    font-weight: 700;
   }

   .block_segment ion-segment-button{
    background: #000000 ;
    border: 1px #fff solid;
   }
   .btn_compteur{
    float: right;
  
  
    overflow: hidden;
    border-radius: 0 !important;
  
   
    background: #1a3677 !important;
    --ion-color-base: #1a3677 !important;
    --background: #1a3677 !important;
    font-size: 18px !important;
    font-weight: bold;
}
.carname_model {
    font-size: 18px !important;
    font-weight: bold;
}
.carlist {
    display: grid;
    text-align: left;
    
  
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .xc {  
    display: block;
    justify-content: center;
    align-items: center;
    margin:2rem;
  }