
.item-profile{
    width: 90%;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile{
    width: 90%;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile {
    --border-radius: 21px;
    
}
.label{
    width: 90%;
    display: table;
    margin: 0 auto;
    /* border: solid 1px #a9a3a3; */
    /* border-radius: 20px; */
    margin-top: 15px;
    font-size: 16px;
    color: #a9a3a3;

}
.btn_compteurnotif{
  float: right;
    height: 100% !important;
  
    overflow: hidden;
    border-radius: 0 !important;
   margin: auto !important ;
   
    background: #e8020e !important;
    --ion-color-base: #e8020e !important;
    --background: #e8020e !important;
    font-size: 18px !important;
    font-weight: bold; 
}
.btn_compteur{
    float: right;
    height: 100% !important;
  
    overflow: hidden;
    border-radius: 0 !important;
   margin: auto !important ;
   
    background: #1a3677 !important;
    --ion-color-base: #1a3677 !important;
    --background: #1a3677 !important;
    font-size: 18px !important;
    font-weight: bold;
}
ion-datetime {
    position: relative;
    margin-bottom: -40px;
  }
  .btn_addcar{
    height: 50px;
    overflow: hidden;
    border-radius: 10px !important;
    margin-top: 15px !important;
   
    background: #2c3447 !important;
    --ion-color-base: #2c3447 !important;
    --background: #2c3447 !important;
    font-size: 21px !important;
    font-weight: bold; 
    width: 90%;
    display: table;
    margin: 0 auto;
  }
  .btn_addcarprimec{
    height: 50px;
    overflow: hidden;
    border-radius: 10px !important;
    margin-top: 15px !important;
   
    background: #1a3677 !important;
    --ion-color-base: #1a3677 !important;
    --background: #1a3677 !important;
    font-size: 21px !important;
    font-weight: bold; 
    width: 90%;
    display: table;
    margin: 0 auto;
  }

  .notification_btn{
    width: 100%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 9px;
    display: table;
    color: #fff;
    height: 50px;
  
    margin-top: 15px !important;
    background: #e8020e !important;
    --ion-color-base: #e8020e !important;
    --background: #e8020e !important;
    font-size: 23px !important;
    font-weight: bold;
  
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content{
    display: flex;
    justify-content: space-around;
    border-bottom: solid;
    border-width: thin;
    border-color:#a8a8a8;
  }
  .title1style{
    color:#1a3677;
    font-size: 25px
  }
  .title2style{
    color:black;
    font-size: 20px
  }
  .mycar_mark_search{
    --border-radius: 10px;
    width: 92%;
    margin: 0 auto;
    --background: rgba(0, 0, 0, 0.0509803922);
  }
  .popup_date{
    --width: 80% !important;

    margin-left: -42px !important;
  }