
.item-profile{
    width: 90%;
    display: table;
    margin: 0 auto;
    border: solid 1px #a9a3a3;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile{
    width: 90%;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile {
    --border-radius: 21px;
    
}
.label{
    width: 90%;
    display: table;
    margin: 0 auto;
    /* border: solid 1px #a9a3a3; */
    /* border-radius: 20px; */
    margin-top: 15px;
    font-size: 16px;
    color: #a9a3a3;

}
.btn_compteur{
    float: right;
    height: 100%;
}
ion-datetime {
    position: relative;
    margin-bottom: -40px;
  }