<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="submitLogin()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="single_login.email" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="single_login.password" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
        <a [routerLink]="['/inscription']" style="float:right" class="small-text">Inscription</a>
      </ion-col>
    </ion-row>
  </form>
  <ion-button expand="full" color="primary" (click)="fbLogin()">
    Login with
    <ion-icon name="logo-facebook"></ion-icon>
  </ion-button>


  <ion-button expand="full" color="primary" (click)="gLogin()">
    Signin with google
    <ion-icon name="logo-google"></ion-icon>
  </ion-button>
</ion-content>