.login_href {
    font-size: 21px !important;
font-weight: bold;
display: block;
text-align: center;
color: #1a3677 !important;
text-decoration: none;
}
.loginbtn_fg{
    text-align: center;
}
.footer{
    --background: #1a3677 !important;
}
ion-footer ion-title{
    color :#fff;
    font-size:80%;
}
.logo{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
