<ion-header *ngIf="router.url != '/login'">
  <ion-toolbar  >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  >Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
 
    <img class="logo"  src="../../assets/main_logo.jpg"/>
    
    </div>
  <form (ngSubmit)="submitLogin()" class="form_itos">
    <ion-item lines="full">
      <ion-label position="floating">Login</ion-label>
      <ion-input type="text" [(ngModel)]="single_login.email" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" [(ngModel)]="single_login.password" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit"  expand="block">Sign In</ion-button>
    
      </ion-col>
    </ion-row>
  </form>
  <ion-row class="loginbtn_fg">
    <ion-col>
  <a shape="round" color="primary" (click)="gLogin()">

    <img src="https://cdn-icons-png.flaticon.com/512/145/145804.png" width="76" height="76"/>
  </a>
  <a shape="round" color="primary" (click)="fbLogin()">
  
    <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png" width="80" height="80"/>
  </a>
</ion-col>
</ion-row>
  <a [routerLink]="['/forgot-password']" class="login_href small-text">Forgot Password?</a>
  <a [routerLink]="['/inscription']"  class="login_href small-text">Inscription</a>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <ion-title class="footertitle">Created by IT Open Sprite | Hossem Solutions © 2022</ion-title>
  </ion-toolbar>
</ion-footer>