ion-textarea {
    height: 100px !important;
}
.itemtextarea{
    height: 100px !important;
}

.titles_placment{
  
    display: block;
   color: #1a3677;
    margin-left: 30px;
}
.titles_placment a {
  
 
        margin-left: 15px;
}