<ion-header>
  <ion-toolbar>
    <ion-title>DETAIL OPERATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="carlist">
    <div class="xc">
      <div class="card_cat_product">
      <img [src] ="logo" />
      <span [innerText]="name_marque"></span>  <span [innerText]="name_model"></span>  
     
      </div>
    </div>
  </div>
  <ion-item>
    <ion-label>Done</ion-label>
    <ion-toggle [enableOnOffLabels]="true" [checked]="opstate" (ionChange)="changeOperationstate($event)" color="success" slot="end"></ion-toggle>
  </ion-item>
  <form (ngSubmit)="UpdateOperation()"> 

<ion-item  class="item-profile">
<ion-input [(ngModel)]="single_operation.date_today" value="{{date_crea}}"   ngDefaultControl  id="date_today" name="date_today" ></ion-input>
</ion-item>
<ion-item  class="item-profile">
  <ion-input [(ngModel)]="single_operation.operation_name" value="{{operation_name}}"  placeholder="Nom opération" ngDefaultControl  id="operation_name" name="operation_name" ></ion-input>
  </ion-item>
<ion-list>
  <ion-item  class="item-profile">
    <ion-select  [ngModelOptions]="{standalone: true}" [(ngModel)]="single_operation.type" name="type" ngDefaultControl  placeholder="Type">
      <ion-select-option value="1">Entretient</ion-select-option>
      <ion-select-option value="2">Carburant</ion-select-option>
      <ion-select-option value="3">Payment de tax</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

    <ion-item  class="item-profile">
      <ion-input [(ngModel)]="single_operation.compteur" value="{{compteur}}"   placeholder="Compteur" ngDefaultControl  id="compteur" name="compteur" ></ion-input>
      </ion-item>
      <ion-item  class="item-profile">
        <ion-input [(ngModel)]="single_operation.price" value="{{price}}"   placeholder="Prix en DT" ngDefaultControl  id="price" name="price" ></ion-input>
        </ion-item>
        <ion-item  class="item-profile">
          <ion-input [(ngModel)]="single_operation.litres" value="{{litres}}"  placeholder="litres" ngDefaultControl  id="litres" name="litres" ></ion-input>
          </ion-item>
       
          <ion-item class="item-profile">
            <ion-datetime        name="datexp"     [(ngModel)]="single_operation.datexp" 
             placeholder="Date d`expiration" displayFormat="DD MM YYYY" max="2025-10-31" value="{{datexp| date: 'dd-MMM-yyyy' }}" pickerFormat="DD MM YYYY">
            </ion-datetime>
           
            
          </ion-item>
          <ion-item  class="item-profile">
            <ion-input [(ngModel)]="single_operation.nbjournotif"  value="{{nbjournotif}}"  placeholder="Nombre de jours avant la notification" ngDefaultControl  id="nbjournotif" name="nbjournotif" ></ion-input>
            </ion-item>
            <ion-item  class="item-profile">
              <ion-input [(ngModel)]="single_operation.kmexp" value="{{kmexp}}"  placeholder="Nombre de km d'expiration" ngDefaultControl  id="kmexp" name="kmexp" ></ion-input>
              </ion-item>
              <ion-item  class="item-profile">
                <ion-input [(ngModel)]="single_operation.nbkmnotif" value="{{nbkmnotif}}"  placeholder="Nombre de km avant la notification" ngDefaultControl  id="nbkmnotif" name="nbkmnotif" ></ion-input>
                </ion-item>
                <ion-button  expand="block" class="btnprofile" type="submit" block>Enregistrer</ion-button>
              </form>
</ion-content>
