ion-avatar  {     
    width:100% !important;  
    height :100% !important;  
    max-width: 50px !important;  //any size
    max-height: 50px !important; //any size 
    }

    .logout{
        font-size: 40px;
        width:2em ;  
        color :black;
    }
    .back_btn_topBar{
        font-size: 25px;
        color :black;
    }
