<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
               
      <form class="form_itos" (ngSubmit)="profile()">
        <ion-item class="item-profile">
         
          <ion-input type="text" placeholder="Nom et Prénom" [(ngModel)]="single_user.nom" ngDefaultControl value="{{user_name}}" name="nom"></ion-input>
        </ion-item>
        <ion-item  class="item-profile">
         
          <ion-input [(ngModel)]="single_user.pw" placeholder="Mot de passe" ngDefaultControl  name="pw" ></ion-input>
        </ion-item>
        <ion-item  class="item-profile">
        
          <ion-input [(ngModel)]="single_user.confirmpw" placeholder="Confirmer mot de passe" ngDefaultControl  name="confirmpw" ></ion-input>
        </ion-item>
        <ion-item  class="item-profile">
          
          <ion-input [(ngModel)]="single_user.email" placeholder="E-mail" ngDefaultControl value="{{user_email}}" name="email"></ion-input>
        </ion-item>
      <ion-item  class="item-profile">
      
        <ion-input [(ngModel)]="single_user.phone" placeholder="Téléphone" ngDefaultControl value="{{user_phone}}"  name="phone"></ion-input>
      </ion-item>
     
        <ion-button   class="btnprofile" type="submit" block>Enregistrer</ion-button>
    
      </form>   
      <ion-button   class="btnprofile btn_addcar" (click)="addCar()" type="submit" block>Ajouter une véhicule</ion-button>
   

      <ion-card class="carlist container">
        <div  class="xc card" *ngFor="let car of carlist">
        <img [src] ="car.logo" (click)="renderCar(car.id)" class="card-img-top img-fluid" />
        <ion-card-header (click)="renderCar(car.id)" class="card_cat_product">
          <ion-card-title class="marquename" [innerText]="car.marquename"></ion-card-title>
          <span class="modelname" [innerText]="car.modelname"></span>
          <span class="modelname" >  {{car.compteur}} km</span>
        </ion-card-header>
      </div>
      </ion-card>

</ion-content>
