
.item-profile{
    width: 90%;
    display: table;
    margin: 0 auto;
    border: solid 1px #a9a3a3;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.btnprofile {
    --border-radius: 21px;
    
}