
.item-profile{
    width: 90%;
    display: table;
    margin: 0 auto;
    border: solid 1px #a9a3a3;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile{
    width: 90%;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 16px;
}
.btnprofile {
    --border-radius: 21px;
    
}
.carlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .xc {
    display: block;
    height: max-content;
    align-items: center;
    margin:1rem;
  }

  .btn_addcar{
    height: 50px;
    overflow: hidden;
    border-radius: 10px !important;
    margin-top: 15px !important;
   
    background: #2c3447 !important;
    --ion-color-base: #2c3447 !important;
    --background: #2c3447 !important;
    font-size: 21px !important;
    font-weight: bold; 
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;

  }
  .card-img-top {
   
    height: 100px;
    object-fit: contain;
}
.marquename{
  font-size: 18px !important;
  font-weight: bold; 
  color: #1a3677 ;
}
.card_cat_product{
  padding-top: 0px !important;
}
.modelname{
  font-size: 15px !important;
}
.deconnection_link{
  text-align: center;
    display: flow-root;
    text-decoration: none;
    margin: 12px;
    color: #2c3447;
}