<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitfpw()" class="form_itos">
    <ion-item lines="full">
     
      <ion-input type="text" placeholder="Votre email" [(ngModel)]="fpw.email" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>
    <ion-item lines="full">
 
      <ion-input type="text" placeholder="Confirmer email" [(ngModel)]="fpw.emailconfirm" ngDefaultControl [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit"  expand="block">Envoyer</ion-button>
    
      </ion-col>
    </ion-row>
  </form>
</ion-content>
