/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~ionic4-auto-complete/auto-complete";
ion-title{
    text-align: center;
}
.form_itos ion-item{
    height: 50px;
    border-radius: 10px;
    margin-top: 15px !important;
    margin: 25px 40px 0 40px;
    background: #0000000d;
    --background: transparent;
    box-shadow: inset 0px 0px 8px #99999996;
}
.form_itos ion-button{
    height: 50px;
    overflow: hidden;
    border-radius: 10px !important;
    margin-top: 15px !important;
    margin: 25px 36px 0 36px;
    background: #1a3677 !important;
    --ion-color-base: #1a3677 !important;
    --background: #1a3677 !important;
    font-size: 21px !important;
    font-weight: bold;
}
.form_itos ion-item.item-has-value input{
    padding: 0px !important;
}
.form_itos ion-item.ion-touched ion-label{
    font-size: 19px !important;
    font-weight: bold;
    transform: translateY(54%);
}
.form_itos ion-item.ion-untouched ion-label{
    font-size: 19px !important;
    font-weight: bold;
    color: #3f4248;
    transform: translateY(54%);
}